<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web Application</title>
    <!-- CSS & Google Fonts -->
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/view.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/return.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--Custom Font: DM Sans-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Nunito:ital,wght@1,200&family=Protest+Strike&display=swap" rel="stylesheet">
    
    <!--Custom Font: Protest Strike-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Protest+Strike&display=swap" rel="stylesheet">
</head>
<body>
    <div class="custom-navbar">
        <div class="left-aligned">
            <a href="/">My Blog App</a>
            <a href="/create-post">Create Your Post</a>
            <a href="/view-posts">View Posts</a>
        </div>
        <div class="dropdown-wrapper">
            <div class="dropdown">
                <button class="dropdown-button">Dropdown</button>
                <div class="dropdown-content">
                    <a href="/">Main Page</a>
                    <a href="/create-post">Create Your Post</a>
                    <a href="/view-posts">View Posts</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
        <div class="right-aligned">
            <a href="/contact">Contact</a>
        </div>
    </div> 

    <main>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascript/blog.js"></script>
</body>
</html>