<%- include("header.ejs") %>

<main class="returnContainer">
    <div class="return-div">
        <p>Title already exists. Please provide another title.</p>
        <a href="/view-posts">Return to View Posts</a>
    </div>
</main>

<%- include("footer.ejs") %>