<%- include("partials/header.ejs") %>

<main>
    <div class="main-container">
        <div class="text-div">
            <p>
                Explore insightful articles, captivating stories, and thought-provoking discussions on a wide range of topics. Whether you're seeking inspiration,
                knowledge, or simply a moment of escape, our blog offers something for everyone. Dive into our diverse collection of posts crafted with passion and
                expertise by our talented community of writers. Join us on a journey of discovery, learning, and connection.
            </p>
            <p>
                Start exploring now and embark on a voyage of inspiration and discovery!
            </p>
        </div>  
    </div>
</main>

<%- include("partials/footer.ejs") %>