.createPostContainer {
    display: flex;
    min-height: 100vh;
}

.form-container {
    padding-left: 1rem;
    flex-basis: 40%;
}

#postForm ul label {
    margin-right: 0.5rem;
    font-size: 1.3rem;
    font-weight: 900;
}

#postForm ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#postForm ul li {
    margin-bottom: 2rem;
}

#postForm ul li input {
    font-size: 1.3rem;
    background-color: #800220;
    color: azure;
}

.blog-meta span {
    font-weight: 900;
}

.edit-container {
    margin-left: 1rem;
    width: 50%;
}

.edit-footer {
    display: flex;
}

@media (max-width: 1250px) {
    .createPostContainer {
        flex-direction: column;
    }

    .today-blog {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }

    .form-container {
        width: 90%;
    }

    .edit-container {
        margin-left: 1rem;
        width: 90%;
    }
}
